click
transformers
pandas
pytorch-lightning
torchmetrics
git+https://github.com/SKT-AI/KoBART@no_version_deps#egg=kobart
torch
jina
jina[hub]
streamlit
#git+https://github.com/jina-ai/jina-commons
#git+https://github.com/jina-ai/executor-indexers
git+https://github.com/jina-ai/executors
annoy
faiss-cpu
hnswlib
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
sentencepiece
